<strong>Olá, {{ name }}</strong>
<p>Sua matrícula conosco esté confirmada! Confira os detalhes abaixo:</p>
<p>
  <strong>Plano selecionado: </strong> {{ plan }} <br/>
  <strong>Data de início informada: </strong> {{ start }} <br/>
  <strong>Data de término calculada: </strong> {{ end }} <br/>
  <strong>Preço calculado: </strong>R$ {{ price }} <br/>
</p>
